# BEGIN - Levonline data - DO NOT CHANGE
AuthName "ekhagastiftelsen.se"
AuthType Basic
AuthUserFile /home/userC/c1321200/public_html/.levonline_htpasswd
Require user vrmedlem
AuthGroupFile /home/userC/c1321200/public_html/.levonline_htgroup
Require group vrmedlem
# END - Levonline data - DO NOT CHANGE
